<h1 appCustomStyle>This is Angular App</h1>

<app-todos [oldTodos]="todoData" (parentComponent)="parentComponent($event)"></app-todos>

<!-- <form #simpleForm="ngForm" (ngSubmit)="submitData(simpleForm.value)">
    <input type="text" ngModel name="username" id="">
    <input type="email" ngModel name="email" id="">
    <button [style.color]="isTrue ? 'red':'green'">Submit</button>
</form>
<p *ngFor="let alert of alerts">
    <ngb-alert [type]="alert.type" (closed)="close(alert)">{{ alert.message }}</ngb-alert>
  </p>
  <p>
    <button type="button" class="btn btn-primary" (click)="reset()">Reset</button>
  </p> -->

  <a routerLink="users">Users</a><br>
  <a routerLink="todos">Todos</a><br><br>

  <router-outlet></router-outlet>
