<h1 appCustomStyle>This is Angular App</h1>
<app-spinner [showLoader]="showLoader"></app-spinner>
<app-todos [oldTodos]="todoData" (parentComponent)="parentComponent($event)"></app-todos>

<!-- template driven form -->
<form #simpleForm="ngForm" (ngSubmit)="submitData(simpleForm.value)">
    <input type="text" required class="form-control" [ngModel]="userdata.username" #username="ngModel" name="username">
    <span class="text-danger" *ngIf="username?.invalid && username?.touched">Username required!</span>
    <br>
    <input type="email" required class="form-control" [ngModel]="userdata.email" #email="ngModel" name="email" id="">
    <span class="text-danger" *ngIf="email?.invalid && email?.touched">Email required!</span>
    <br>
    <button [style.color]="isTrue ? 'red':'green'">Submit</button>
</form>
<br>

<!-- reactive form -->
<form [formGroup]="loginForm" (ngSubmit)="submitData(simpleForm.value)">
  <input type="text" class="form-control" ngModel name="username" formControlName="username">
  <span class="text-danger" *ngIf="username?.errors && username?.touched">Username required!</span>
  <br>
  <input type="email" class="form-control" ngModel name="email" formControlName="email">
  <span class="text-danger" *ngIf="email?.errors && email?.touched">Email required!</span><br>
  <button class="btn btn-primary" [style.color]="isTrue ? 'red':'green'">Submit</button>
</form>
<p *ngFor="let alert of alerts">
    <ngb-alert [type]="alert.type" (closed)="close(alert)">{{ alert.message }}</ngb-alert>
  </p>
  <p>
    <button type="button" class="btn btn-primary" (click)="reset()">Reset</button>
  </p>

  <a routerLink="users">Users</a><br>
  <a routerLink="todos">Todos</a><br><br>

  <router-outlet></router-outlet>
